.navbar {
  display: flex;
  border: 1px solid #020122;
  border-radius: 6px;
  align-items: center;
  padding: 20px 40px;
  font-size: 1.618rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px 0 rgba(2, 1, 34, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#search {
  border-radius: 4px;
  padding: 4px 8px;
  outline: none;
  font-size: 1.2rem;
}
